@keyframes colorCycle {
    0% , 55%{ 
        filter: brightness(0) invert(1);
    }
    11% , 33%{
        filter: none;
    }
    
   }
main{
    max-width: 104.8rem;
    padding: 5.6rem 2.4rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    flex:1;
    justify-content: center ;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    
    font-size: 12.8rem;
    line-height: 12.8rem ;
    letter-spacing:  -1.24rem;

    color: var(--white) ;
    span{
        padding: 0 0.67rem ;
        filter: brightness(0) invert(1);
        
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: colorCycle 10s ease-in-out infinite;
    }
    span:nth-child(1){
        background-image: linear-gradient(90deg,#f54848, #1c1cff77);
    }
    span:nth-child(2){
        background-image: linear-gradient(90deg,#cf2a2a, #dd24ee77);
        animation-delay: 3.33s;
    }
    span:nth-child(3){
        background-image: linear-gradient(90deg,#ff5555, #ff2b1c77);
        animation-delay: 6.66s;
    }


    
}